<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Detection</title>
    <script>
        function toggleThreshold() {
            var detectionType = document.getElementById("detection_type").value;
            var thresholdField = document.getElementById("threshold_field");
            if (detectionType === "crowd") {
                thresholdField.style.display = "block";
            } else {
                thresholdField.style.display = "none";
            }
        }
    </script>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<br>
    <h1>Detect.</h1>
    <form action="/" id="detectionForm" method="post">
        <label for="detection_type">Detection Type:</label>
        <select id="detection_type" name="detection_type" onchange="toggleThreshold()" >
            <option name="crowd" value="crowd">Crowd Detection</option>
            <option name="violence" value="violence">Violence Detection</option>
        </select>
        <br><br>

        <label for="rtsp_url">RTSP URL:</label>
        <input type="text" id="rtsp_url" name="rtsp_url" required><br><br>

        <label for="model_path">Model Path:</label>
        <input type="text" id="model_path" name="model_path" required><br><br>

        <div id="threshold_field">
            <label for="threshold">Threshold:</label>
            <input type="number" id="threshold" name="threshold" min="0" value="1"><br><br>
        </div>

        <button type="submit">Start Detection</button>
    </form>
</body>
</html>
